body {
    display: flex;
    font-family: Arial, sans-serif;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
  }

.button1 {
  background-color: #BF2AD4;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 8px;
  color: white;
  padding: 32px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.button2 {
  background-color: #8CD529;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 8px;
  color: white;
  padding: 32px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
